# -------------------------
# Node
# -------------------------
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/

# -------------------------
# Environment variables
# -------------------------
.env
.env.*
*.env

# -------------------------
# Docker
# -------------------------
*.pid
docker-data/
tmp/
*.log

# -------------------------
# Vite / React
# -------------------------
.vite/
.cache/

# -------------------------
# System files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Editors
# -------------------------
.vscode/
.idea/
