version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:5000"
    container_name: flask-template
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M
    environment:
      - FLASK_ENV=production








