version: '3.8'

services:
  web:
    build: .
    ports:
      - "8080:80"
    container_name: static-template
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 256M




